/*  your css code here. If applicable */
.main-container{
	background-color: rgb(204, 204, 204);
}
.list{
	list-style-type:none;
	margin-top:15px;
}
.list>li>a{
	text-decoration:none;
	color:black;
}
.container_2{
	margin:100px;
}
.player_one{
	width:100%;
	background-color: rgb(255, 255, 255);
	padding:10px;
    background-size:contain;
}

.player_two{
	width:100%;
	background-color: rgb(255, 255, 255);
	padding:10px;
    background-size:contain;
}




